In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/antenas/antennas_municipality.txt', sep=';')
df.rename(columns={'CELLID': 'ANTENNA'}, inplace=True)
df.head()

,ANTENNA,UF,DDD,LAT,LONG,CITY,MUNICIPALITY
0,27823,RJ,21,-22.82638,-43.32344,Rio de Janeiro,Região Geográfica Imediata do Rio de Janeiro
1,27852,RJ,21,-22.82638,-43.32344,Rio de Janeiro,Região Geográfica Imediata do Rio de Janeiro
2,60097,AC,68,-7.63047,-72.66910,Cruzeiro do Sul,Microrregião de Cruzeiro do Sul
3,20109,AC,68,-9.97669,-67.86836,Rio Branco,Região Geográfica Imediata de Rio Branco
4,20237,AC,68,-9.97197,-67.81339,Rio Branco,Região Geográfica Imediata de Rio Branco

In [15]:
cities_jf = ['Andrelândia', 'Aracitaba', 'Arantina', 'Belmiro', 'Braga', 'Bias Fortes', 'Bocaina de Minas',
             'Bom Jardim de Minas', 'Chácara', 'Chiador', 'Coronel Pacheco', 'Ewbank da Câmara', 'Goianá', 
             'Juiz de Fora', 'Liberdade', 'Lima Duarte', 'Matias Barbosa', 'Olaria', 'Oliveira Fortes', 
             'Paiva', 'Passa Vinte', 'Pedro Teixeira', 'Piau', 'Rio Novo', 'Rio Preto', 'Santa Bárbara do Monte Verde',
             'Santa Rita de Jacutinga', 'Santana do Deserto', 'Santos Dumont', 'Simão Pereira']

In [16]:
df = df.loc[df['CITY'].isin(cities_jf)]
df

,ANTENNA,UF,DDD,LAT,LONG,CITY,MUNICIPALITY
4030,17178,MA,98,-3.60925,-45.34292,Santos Dumont,Microrregião de Pindaré
4273,29922,MG,32,-21.77560,-43.43085,Juiz de Fora,Microrregião Juiz de Fora
4306,29953,MG,32,-21.79245,-43.38823,Juiz de Fora,Microrregião Juiz de Fora
4396,23733,MG,32,-21.78109,-43.36022,Juiz de Fora,Microrregião Juiz de Fora
4397,51492,MG,32,-21.72198,-43.40184,Juiz de Fora,Microrregião Juiz de Fora
...,...,...,...,...,...,...,...
64747,50791,MG,32,-21.66369,-43.43173,Juiz de Fora,Microrregião Juiz de Fora
64748,50882,MG,32,-21.78162,-43.34295,Juiz de Fora,Microrregião Juiz de Fora
64749,50883,MG,32,-21.78162,-43.34295,Juiz de Fora,Microrregião Juiz de Fora
64750,65771,MG,32,-21.67006,-43.43436,Juiz de Fora,Microrregião Juiz de Fora
64793,50613,MG,32,-21.87465,-43.33599,Matias Barbosa,Microrregião Juiz de Fora

In [21]:
df = df.groupby(['LAT', 'LONG', 'CITY']).first().reset_index()

array(['Braga', 'Matias Barbosa', 'Lima Duarte', 'Juiz de Fora',
       'Ewbank da Câmara', 'Goianá', 'Rio Novo', 'Santos Dumont'],
      dtype=object)

In [9]:
df_1 = pd.read_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/dados_18.11/cdr/JF_Filter_by_duration/df_1.csv', nrows=1000000)
df_1

,Unnamed: 0,DATE,HOUR,DURATION,DDD_USER_FROM,USER_FROM,DDD_USER_TO,USER_TO,ANTENNA
0,0,2013-03-21,18:55:11,1.63,32,54099B93776E46FDD92355B4BC73286C,-4,6F8919983754B3F1C1E0530D1192F7D0,23792
1,1,2013-03-21,19:45:36,0.07,32,4337363045DA84F1AC27CE94BC1462C3,32,330BDAB47D290C8ABD4F46CA5F3BB5B0,50202
2,2,2013-03-21,13:56:03,14.58,32,E283DAE1E92B121DBF4002172764A5C2,32,3AE9DE33E9471BC4B30785F551B7813E,52933
3,3,2013-03-21,14:55:45,2.98,83,CDCBFDB2562F499011E45431A7ABEFF3,83,894A221F38047FEC95A9628A2C3A2BA1,50721
4,4,2013-03-21,19:08:59,0.08,83,3D6519846803B0F2A1ED4BDDC441CCEA,83,03904E7A72C502BD49E50EC53EC749EA,50051
...,...,...,...,...,...,...,...,...,...
999995,1009973,2013-03-21,22:38:27,0.08,32,319547D7DD3DD357B61ED236C2ED84A2,32,418F429CDF7E2597297E41721ACFE34B,50623
999996,1009974,2013-03-21,09:11:38,1.18,32,E327F60D39FF3A964312ACD21EA41712,32,E3A31E3F89EDA4FFC607FD5B5676A434,50453
999997,1009975,2013-03-21,06:36:39,0.13,32,0317F7E503504814AD51D0E5953BC21F,32,4F2D9F61E2D44F78284641016BC3A17F,50242
999998,1009976,2013-03-21,23:09:43,0.08,32,75F01C1BD16648A7CAA6CF71A71C595E,32,6CACF8F6233A2DFEF1949CFF232D11A9,50222
999999,1009977,2013-03-21,12:08:47,0.50,32,3DC7C96BFDDDCFDDCC171A54076BB24F,32,B2EB2E0DFE54221586BBC0F7C16D0DC6,51061

In [11]:
df_1.drop(columns={'Unnamed: 0'}, inplace=True)
df_1 = pd.merge(df_1, df[['ANTENNA', 'LAT', 'LONG', 'CITY']], on='ANTENNA')

In [13]:
df_1['CITY'].unique()

array(['Volta Redonda', 'Juiz de Fora', 'Maceió', 'Macapá', 'Ibema',
       'Rio de Janeiro', 'Santos Dumont', 'Santa Rita', 'Bayeux',
       'Lima Duarte', 'Taperoá', 'Vitória do Xingu', 'Resende',
       'Padre Bernardo', 'Altamira', 'Campos dos Goytacazes', 'Macaé',
       'Santa Maria do Pará', 'Santarém', 'Salvador', 'Fortaleza',
       'unknown', 'Itatiaia', 'Paripueira', 'Abaetetuba',
       'Águas Lindas de Goiás', 'Formosa', 'Patos', 'Matias Barbosa',
       'Rio Largo', 'Aragarças', 'Baião', 'Cristalina', 'Guarabira',
       'Campo Bonito', 'Aquidabã', 'Arraias', 'Campina Grande',
       'Cajazeiras', 'Santo Antônio do Descoberto', "São João d'Aliança",
       'Santana', 'Belterra', 'Quixaba', 'Luziânia', 'Cidade Ocidental',
       'Braganey', 'Ewbank da Câmara', 'Mamanguape', 'Monte Alegre',
       'Panambi', 'Goianá', 'Ouro Verde do Oeste', 'Novo Gama', 'Acará',
       'Barra do Piraí', 'Conde', 'Rio Novo', 'Itápolis'], dtype=object)