In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/ibge/sjdr_data_grouped_of_class.csv')
df.head()

         Cod_setor     V005  classe
0  311520105000001  1177.29     3.0
1  311520105000002   886.16     2.0
2  311520105000003  1020.75     3.0
3  311520105000004   382.49     1.0
4  311520105000005  1012.74     2.0

In [3]:
df_info = pd.read_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/ibge/info_setores_antennas_sjdr.csv', sep=';')
df_info.rename(columns={'setor': 'Cod_setor'}, inplace=True)
df = pd.merge(df, df_info, on='Cod_setor')
df.head()

         Cod_setor     V005  classe  closest_antenna  distance_antenna
0  311520105000001  1177.29     3.0            51603         19.952234
1  311520105000002   886.16     2.0            51603         19.923082
2  311520105000003  1020.75     3.0            51603         18.906755
3  311520105000004   382.49     1.0            51603         19.562769
4  311520105000005  1012.74     2.0            51603         19.894224

In [4]:
df.to_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/ibge/Sector_Class.csv')

In [4]:
df_main = pd.read_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/dados_18.11/df_main.csv', index_col=False)
df_main['ANTENNA'] = df_main['ANTENNA'].astype(np.float).astype("Int32")
df_main.drop(columns={'Unnamed: 0', 'ANTENNA_ID'}, inplace=True)
df_main.head()

                               USER  ANTENNA PRESUMED_RESIDENCE
0  85D5C50A6D882CA8E4BB00BCA3574417    51601                 RT
1  85D5C50A6D882CA8E4BB00BCA3574417    51601                 RT
2  85D5C50A6D882CA8E4BB00BCA3574417    51601                 RT
3  85D5C50A6D882CA8E4BB00BCA3574417    51601                 RT
4  85D5C50A6D882CA8E4BB00BCA3574417    51601                 RT

In [5]:
len(df_main)

1494938

In [7]:
dict_antennas = { 
    'MDM': [27711,27712,27713,48582,27451,48581],
    'SJDR1': [23441,23442,50153,23443,50152,50151],
    'SJDR2':[23461,23463,23462,50933,50931,50932],
    'SJDR3':[23471,23472,23473,51311,51312],
    'SJDR4':[23451,23452,23453,50663,50661,50662],
    'SJDR5':[50141,50142,50143],
    'TR1':[29941,29943,53562,50911,49131,50913,29942,53561,49132],
    'TR2': [29011,29013,29012],
    'LD1': [49592,51041,51042,49593,51043],
    'RT': [51601,51603,51602],
    'SVM': [60761,60763,60762],
    'ST': [51371,51372]}

In [8]:
df['ANTENNA_ID'] = ''
for x, i in zip(df.closest_antenna, df.index):
    df['ANTENNA_ID'][i] = [k for k in dict_antennas.keys() if x in dict_antennas[k]][0]
df.head()

/home/gustavo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Cod_setor,V005,classe,closest_antenna,distance_antenna,ANTENNA_ID
0,311520105000001,1177.29,3.0,51603,19.952234,RT
1,311520105000002,886.16,2.0,51603,19.923082,RT
2,311520105000003,1020.75,3.0,51603,18.906755,RT
3,311520105000004,382.49,1.0,51603,19.562769,RT
4,311520105000005,1012.74,2.0,51603,19.894224,RT

In [9]:
df_main['ANTENNA_ID'] = ''
for x,i in zip(df_main.ANTENNA, df_main.index):
    df_main['ANTENNA_ID'][i] = [k for k in dict_antennas.keys() if x in dict_antennas[k]][0]
df_main

/home/gustavo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,USER,ANTENNA,PRESUMED_RESIDENCE,ANTENNA_ID
0,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
1,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
2,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
3,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
4,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
5,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
6,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
7,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
8,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
9,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
10,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
11,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
12,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
13,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
14,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
15,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
16,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
17,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
18,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
19,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
20,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
21,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
22,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
23,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
24,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
25,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
26,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
27,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
28,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
29,85D5C50A6D882CA8E4BB00BCA3574417,51601,RT,RT
...,...,...,...,...
1494908,780424012077AFB108650D18E21899A6,23451,SJDR4,SJDR4
1494909,780424012077AFB108650D18E21899A6,23451,SJDR4,SJDR4
1494910,780424012077AFB108650D18E21899A6,23451,SJDR4,SJDR4
1494911,780424012077AFB108650D18E21899A6,23451,SJDR4,SJDR4
1494912,780424012077AFB108650D18E21899A6,23451,SJDR4,SJDR4
1494913,780424012077AFB108650D18E21899A6,23451,SJDR4,SJDR4
1494914,780424012077AFB108650D18E21899A6,23451,SJDR4,SJDR4
1494915,780424012077AFB108650D18E21899A6,23451,SJDR4,SJDR4
1494916,780424012077AFB108650D18E21899A6,23451,SJDR4,SJDR4
1494917,780424012077AFB108650D18E21899A6,23451,SJDR4,SJDR4
1494918,780424012077AFB108650D18E21899A6,23451,SJDR4,SJDR4
1494919,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4
1494920,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4
1494921,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4
1494922,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4
1494923,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4
1494924,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4
1494925,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4
1494926,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4
1494927,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4
1494928,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4
1494929,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4
1494930,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4
1494931,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4
1494932,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4
1494933,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4
1494934,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4
1494935,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4
1494936,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4
1494937,4B5C7EEB3CC3FAFC9190C79A2E1A4566,23451,SJDR4,SJDR4

In [10]:
df.head()

,Cod_setor,V005,classe,closest_antenna,distance_antenna,ANTENNA_ID
0,311520105000001,1177.29,3.0,51603,19.952234,RT
1,311520105000002,886.16,2.0,51603,19.923082,RT
2,311520105000003,1020.75,3.0,51603,18.906755,RT
3,311520105000004,382.49,1.0,51603,19.562769,RT
4,311520105000005,1012.74,2.0,51603,19.894224,RT

In [11]:
df_main.head()

                               USER  ANTENNA PRESUMED_RESIDENCE ANTENNA_ID
0  85D5C50A6D882CA8E4BB00BCA3574417    51601                 RT         RT
1  85D5C50A6D882CA8E4BB00BCA3574417    51601                 RT         RT
2  85D5C50A6D882CA8E4BB00BCA3574417    51601                 RT         RT
3  85D5C50A6D882CA8E4BB00BCA3574417    51601                 RT         RT
4  85D5C50A6D882CA8E4BB00BCA3574417    51601                 RT         RT

In [17]:
df_reduced = df[['V005', 'ANTENNA_ID']]
df_reduced = df_reduced.groupby('ANTENNA_ID').mean().reset_index()

In [18]:
#Criando a coluna classe para classificar os setores sensitários de acordo com sua renda
def classe(i):
    if i <= 510:
        return 1
    elif i <= 1020:
        return 2
    elif i <= 1530:
        return 3
    elif i <= 2550:
        return 4
    elif i <= 5100:
        return 5
    elif i <= 10200
        return 6
    elif i > 10200:
        return 7

df_reduced['classe'] = df_reduced['V005'].map(classe)
df_reduced = df_reduced.sort_values(['classe'])

In [24]:
df_reduced.to_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/dados_18.11/class_sjdr.csv', index=None)

In [25]:
df_reduced

   ANTENNA_ID         V005  classe
0         LD1   841.866667       2
1         MDM   773.599706       2
2          RT   865.578056       2
4       SJDR2   788.980000       2
8          ST   795.305750       2
9         SVM   998.187273       2
10        TR1   984.370690       2
3       SJDR1  1285.295238       3
5       SJDR3  1048.849091       3
6       SJDR4  1365.343400       3
7       SJDR5  1376.329020       3
11        TR2  1197.026667       3

In [20]:
df_main = pd.merge(df_main, df_reduced[['ANTENNA_ID', 'classe']], on='ANTENNA_ID')

In [23]:
df_main.to_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/dados_18.11/df_main.csv', index=None)