In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/ibge/jf_data_grouped_of_class.csv')
df.head()

         Cod_setor     V005  classe
0  310280305000001  1063.68     3.0
1  310280305000002  1197.96     3.0
2  310280305000003   694.84     2.0
3  310280305000004   395.83     1.0
4  310280305000005  1021.89     3.0

In [6]:
df

            Cod_setor     V005  classe
0     310280305000001  1063.68     3.0
1     310280305000002  1197.96     3.0
2     310280305000003   694.84     2.0
3     310280305000004   395.83     1.0
4     310280305000005  1021.89     3.0
...               ...      ...     ...
1089  316750905000004   615.37     2.0
1090  316750905000005   350.69     1.0
1091  316750905000006   836.19     2.0
1092  316750905000007   745.95     2.0
1093  316750905000008  1500.71     3.0

[1094 rows x 3 columns]

In [8]:
df_info = pd.read_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/ibge/info_setores_antennas_jf.csv', sep=';')
df_info.rename(columns={'setor': 'Cod_setor'}, inplace=True)
df = pd.merge(df, df_info, on='Cod_setor')
df.head()

         Cod_setor     V005  classe  closest_antenna  distance_antenna
0  310280305000001  1063.68     3.0            27871         55.499169
1  310280305000002  1197.96     3.0            27871         54.819443
2  310280305000003   694.84     2.0            27871         54.596006
3  310280305000004   395.83     1.0            27871         54.132897
4  310280305000005  1021.89     3.0            27871         53.181793

In [9]:
df.to_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/ibge/Sector_Class_Jf.csv')